<html>
    <head>
        <title>Vendors at {{ event.name }}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    </head>
<body>
<div class="page-header">
  <h1>Vendors at {{ event.name }}</h1>
</div>
{% if event_vendors %}
    <ul class = "list-group">
    {% for vendor in event_vendors %}
        <li class="list-group-item"><a href='/vendor/{{ vendor.id }}'>{{ vendor }}</a></li>
    {% endfor %}
    </ul>
    </br>
{% else %}
    <p>No vendors are available.</p>
{% endif %}
</body>
</html>